@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Srisakdi:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.row{
    --bs-gutter-x: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}
body.overflowHidden{
    overflow: scroll !important;
}

body {
    --primary-color: #B41D1E;
    --text-color-white: #FFF;
    --text-color-dark: #000;
    --text-color-grey: #a0afbb;
    --background-color-grey: #f0f0f0;
    --background-color-white: #FFF;
    --background-color-dark: #333;
    --background-color-black: #000;
    --dark-yellow: #ffb600;
    --bg-section:#121212;
    --transition-duration: 0.3s;
    --default-trans: all 0.3s ease;
        
    --main-font: 'Droid Arabic Kufi';
    background: var(--background-color-black);
}

body.light {
    --primary-color: #f9735b;
    --text-color-white: #000;
    --text-color-dark: #FFF;
    --text-color-grey: #a0afbb;
    --background-color-grey: #f0f0f0;
    --background-color-white: #000;
    --background-color-dark: #FFF;
    --background-color-black: #f0f0f0;
}

.loader-circular{
    position: absolute !important;
}

/*General Style*/
.container {
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

.centralize {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
}

.section-padding {
    padding-top: 35px;
    padding-bottom: 25px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.section-header .left {
    display: flex;
    align-items: center;
}

.section-header .left h2 {
    padding-right: 10px;
    position: relative;
    color: var(--text-color-white);
}

.section-header .left h2:after {
    position: absolute;
    right: 0;
    top: 5px;
    height: 32px;
    width: 5px;
    background: var(--primary-color);
    content: "";
}

/* .section-header .left i {
    color: 
    font-size: 1.5em;
} */

.section-header .right a {
    display: flex;
    align-items: center;
    color: var(--text-color-grey);
}

.section-header .right p {
    margin-bottom: 0;
}

.section-header .right a i {
    padding-right: 5px;
}

.section-header .right a:hover i {
    color: var(--primary-color);
    padding-right: 10px;
}

.section-header .right a:hover p {
    color: var(--primary-color);
}



#popular .right-nav, #popular .left-nav {
    top: 50%;
}

#popular .desc h5 {
    font-weight: 900;
    font-size: 1.1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#popular .desc .dics-dtn{
    all: unset;
    display: block;
    cursor: pointer;
    background-color: #232323;
    border-radius: 5px;
    padding: 3px 0;
}

#popular .desc .season{
    color: #1d5b93 ;
    font-weight: 600;
}

#popular .desc .episode{
    background-color: var(--primary-color);
    font-weight: 500;
    display: inline-block;
    padding: 1px 4px;
    border-radius: 4px;
    color: #FFF;
}

/*Start carousel home */
.home-carousel .shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(248, 243, 243, 0), rgb(0, 0, 0));
    z-index: 1;
}

.home-carousel .img-poster{
    width: 100% !important;
}

.home-carousel .carousel__next{
    color: var(--text-color-white);
    background: linear-gradient(to right, rgba(116, 175, 238, 0), var(--primary-color));
}

.home-carousel .carousel__prev{
    color: var(--text-color-white);
    background: linear-gradient(to left, rgba(116, 175, 238, 0), var(--primary-color));
}

.home-carousel .carousel__item {
  min-height: 200px;
  width: 100%;
  color: var(--vc-clr-white);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-carousel .carousel__slide {
height: 80vh;
}


.home-carousel .carousel__pagination-button::after{
    background-color: #808080;
    width: 20px;
    border-radius: 5px;
}
.home-carousel .carousel__pagination-button:hover::after, .carousel__pagination-button--active::after{
    background-color: #8b0d0e;
}

.home-carousel .miniposter{
    width: 50%;
    height: 200px;
/*    left: 0;*/
    position: absolute;
    z-index: 2;
}

.home-carousel .miniposter .sm-list{
display: inline-flex;
direction: rtl;
padding-left: 0;
}

.home-carousel .miniposter img{
    width: 30%;
    position: relative;
    margin-bottom: 20px;
}

.home-carousel .miniposter .home-btn{
    justify-content: space-evenly;
}
.home-carousel .miniposter .home-btn .btn{
    width: 100%;
    border-radius: 10px;
}

.home-carousel .sm-list i{
    color: var(--dark-yellow);
    font-size: 16px;
}

.carousel__prev, .carousel__next{
    border: none !important;
}
/*End carousel home */

/* Start Moves */
    #moves .carousel__item{
        border-radius:10px;
overflow:hidden;
margin-left: 10px;

    }

    #moves .move-content{
text-align: right;  
color:#fff;     
background-color:#0E0E0D;
width: 100%;

    }

#moves .image-right{
    float: right;
     width: 40%;
     height: 100%;
}

#moves .image-right i{
    font-size: 40px;
}

#moves img{
    width: 100%;
    height: 100%;
    margin-left: 10px;
    
    object-fit: cover;        
}

#moves .carousel__pagination-button::after{
    background-color: #808080;
width: 20px;
border-radius: 5px;
}

#moves .carousel__pagination-button:hover::after, .carousel__pagination-button--active::after{
    background-color: #8b0d0e;
}

#moves .carousel__item h5{
margin-bottom: 10px;
}

#moves .carousel__item .season{
    color: #1d5b93;
margin-bottom: 10px;

}
#moves .carousel__item .episode{
    background-color: var(--primary-color);
font-weight: 500;
display: inline-block;
padding: 1px 4px;
border-radius: 4px;
color: #FFF;
top: 10px;
margin-bottom: 10px;
}

#moves .carousel__item .dics-dtn{
    all: unset;
    display: block;
    cursor: pointer;
    background-color: #232323;
    border-radius: 5px;
    padding: 3px 0;
    margin-left: 4px;
font-size: 16px;
}    
}
/* End moves */

/*Primary Style*/

/*Popular*/
#popular {
    background-color: var(--background-color-black);
}

.movie-item:hover .play-btn,
.movie-item:active .play-btn {
    opacity: 1;
}

.movie-item:hover .movie-poster-box::after,
.movie-item:active .movie-poster-box::after {
    opacity: 1;
}

.play-btn i {
    color: #FFF;
    font-size: 6em;
}

.movie-item h4 {
    color: var(--text-color-white);
    font-size: 1.7em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.movie-item h6 {
    font-size: 1.2em;
    color: var(--text-color-grey);
}

.movie-item .movie-poster-box {
    position: relative;
    overflow: hidden;
}

.movie-item .movie-poster-box {
    position: relative;
    overflow: hidden;
}

#popular .movie-item .movie-poster-box {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#popular .movie-item {
    background-color: #121211c7;
    border-radius: 10px;
}

/* #popular .movie-item .movie-poster-box img {
    height: 200px;
} */



.movie-item:hover .movie-poster-box img,
.movie-item:active .movie-poster-box img {
    transform: scale(1.5);
}

.movie-item .movie-poster-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: var(--default-trans);
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 3;
    opacity: 0;
    transition: var(--default-trans);
}

/*New*/


/*Top*/
#top .carousel__item{
    color: #fff;
}

#top h6{
    margin-top: 10px;
    text-align: right;
}

#top a{
    color: #fff;
}

#top .serie-image{
    width: 100%;
    padding: 0 5px;
    height: 230px;
    overflow: hidden;
}

#top .serie-image img{
width: 100%;
object-fit: cover;
}

#top .serie-image h6{
text-align: center;
}

#top .serie-image img:hover{
    cursor: pointer;
}

.latest-episode-comment .modal-content,
.latest-episode-anim-comment .modal-content{
    background-color: var(--bg-section);
color: var(--white);
}


.latest-episode-comment .modal-header .btn-close,
.latest-episode-anim-comment .modal-header .btn-close {
    padding: .5rem .5rem;
    margin: 0;
    color: var(--white);
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
}


/*Footer*/
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--background-color-black);
    border-top: 1px solid var(--background-color-white);
    text-align: center;
}

.sm-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.sm-list li {
    margin-left: 15px;
    margin-right: 15px;
}

.sm-list li a i {
    font-size: 2em;
    color: var(--text-color-white);
}

.sm-list li a:hover i {
    color: var(--primary-color);
}

footer p {
    color: var(--text-color-white);
}

footer p i {
    color: var(--primary-color);
}

/*Mobile Nav*/
#mobile-nav {
    background-color: var(--background-color-dark);
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}

#mobile-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobile-nav .navbar-brand a {
    color: var(--text-color-white);
}

#mobile-nav a:hover {
    color: var(--primary-color);
}

#mobile-nav .navbar-brand a:hover {
    color: var(--text-color-white);
}

#mobile-nav .nav-left {
    padding: 0;
}

#mobile-nav i {
    font-size: 2em;
}

#mobile-nav .nav-right {
    margin-top: 5px;
    text-align: left;
}

#mobile-nav .nav-right ul {
    display: block;
    justify-content: start;
    transform: translateX(-20px);
}

/*Mobile Menu*/
#mobile-menu {
    height: 100vh;
    width: 90%;
    position: fixed;
    right: -1200px;
    top: 0;
    background-color: var(--background-color-dark);
    z-index: 10000;
    display: none;
}

#mobile-menu.active {
    right: 0;
}

.close-nav-button {
    top: 20px;
    right: 20px;
    position: absolute;
}

.close-nav-button i {
    color: var(--text-color-white);
    font-size: 2em;
    cursor: pointer;
}

.close-nav-button i:hover {
    color: var(--primary-color);
}

.mobile-main-menu {
    padding: 20px;
    margin-top: 50px;
}

.mobile-main-menu ul li {
    border-bottom: 1px solid var(--text-color-grey);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.mobile-main-menu ul li a {
    color: var(--text-color-white);
}

.mobile-main-menu ul li a:hover {
    color: var(--primary-color);
}

.mobile-bottom-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.mobile-bottom-menu ul li a {
    width: 100%;
    padding: 15px 30px;
    display: inline-block;
    color: var(--text-color-white);
    text-align: center;
}

.mobile-bottom-menu ul li:nth-child(1) a {
    background-color: var(--background-color-white);
    color: var(--text-color-dark);
}

.signup-mobile-button a {
    background-color: var(--primary-color);
}

/*Header*/
.header-content {
    width: 100%;
    text-align: center;
    z-index: 3;
}

.header-content h1 {
    color: #FFF;
    font-size: 3em;
}

.header-content h4 {
    color: var(--text-color-grey);
    font-size: 1.5em;
}



/*Search Box*/
.search-form-container {
    width: 50%;
    margin: 10px auto;
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
    background: var(--background-color-dark);
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}

.search-form-container input {
    background: transparent;
    border: 0;
    font-size: 1.5em;
    color: var(--text-color-white);
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    outline: none;
}

.suggestions {
    border-top: 2px solid #999;
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;
    background: var(--background-color-dark);
    z-index: 99;
    display: none;
    overflow: auto;
    max-height: 200px;
}

.suggestions>div {
    padding: 15px;
    font-size: 20px;
    color: var(--text-color-white);
    border-top: 1px solid #666;
    cursor: pointer;
    display: flex;
}

.suggestions>div img {
    width: 70px;
}

.suggestions>div div {
    margin-left: 20px;
}

.suggestions>div div h4 {
    color: var(--text-color-white);
    font-size: 1.2em;
}

.suggestions>div div h6 {
    color: var(--text-color-grey);
    text-align: left;
    font-size: 1em;
}

.suggestions>div:hover {
    background-color: var(--primary-color);
}

/*Responsive*/
@media screen and (min-width: 320px) and (max-width: 767px) {

    #mobile-nav,
    #mobile-menu {
        display: block;
    }

    #desktop-nav {
        display: none;
    }

    .search-form-container {
        width: 90%;
    }

    .movie-item .movie-poster-box img {
        height: 250px;
    }
}


.premium-account{
    height: 150px;
    margin: 5% 0;
    background-color: #000;
}
.premium-account img{
    height: 150px;
    width: 100%;
    display: block;
}


/* fav style */
.fav{
    margin-top: 20px;
}
.fav #pills-tab .nav-item .nav-link{
    color: var(--text-color-white);
    width: 250px;
    margin-right: 5px;
    background-color: var(--background-color-dark);

    border-radius: 0;
    border-bottom: 5px solid var(--background-color-dark);
}
.fav #pills-tab .nav-item .nav-link.active{
    border-bottom: 5px solid var(--primary-color);
    background-color: var(--background-color-black) ;
    color: var(--primary-color);
}
.fav #pills-tab .nav-item .nav-link.active:hover{
    border-bottom: 5px solid var(--primary-color);
}

.fav #pills-tab .nav-item .nav-link:hover{
    background-color: var(--background-color-black);
    border-bottom: 5px solid var(--primary-color);
}

.fav #pills-tabContent .tab-pane nav .nav-tabs{
    border: 0;
}
.fav #pills-tabContent .tab-pane nav .nav-tabs .nav-link{
    color: var(--text-color-white);
    border-radius: 25px;
    padding: 3px 10px;
    border: 0;
    margin: 0 3px;
    background-color: var(--background-color-dark);
}
.fav #pills-tabContent .tab-pane nav .nav-tabs .nav-link.active{
    background-color: var(--primary-color);
    border: 0;
}
.fav #pills-tabContent .tab-pane nav .nav-tabs .nav-link:hover{
    background-color: var(--primary-color);
    /* border: 1px solid var(--primary-color); */
}
.fav #pills-tabContent .tab-pane nav .nav-tabs .nav-link.active:hover{
    background-color: var(--primary-color);
    border: 0;
}

.fav #pills-tabContent #nav-tabContent .tab-pane .card {
    background-color: var(--background-color-black);
    color: var(--text-color-white);
    overflow: hidden;
    /* width: calc(25% - 10px) !important; */
    padding: 5px 10px;
    border: 0;
}
.fav #pills-tabContent #nav-tabContent .tab-pane .card:hover {
    /* background-color: var(--primary-color); */
    cursor: pointer;
}
.fav #pills-tabContent #nav-tabContent .tab-pane .card:hover img{
    transform: scale(1.1);
}
.fav #pills-tabContent #nav-tabContent .tab-pane .card .card-body{
    padding-top: 5px;  
    padding-bottom: 5px;  
}

.fav #pills-tabContent #nav-tabContent .tab-pane .card .card-img{
    height: 230px;
    border-radius: .25rem;
    overflow: hidden;
}
.fav #pills-tabContent #nav-tabContent .tab-pane .card img {
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');


*{
    font-family: 'Cairo', sans-serif ;
}